venv/
.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
*.sqlite3
.DS_Store
# Byte-compiled / optimized / DLL files
*.egg-info/
# Distribution / packaging
build/
dist/
# Test and coverage reports
htmlcov/
.tox/
.coverage
.cache
# Local env files
.env.*
# Alembic migration files
alembic/versions/*.pyc
# Logs
*.log
