BACKEND_CORS_ORIGINS = ["localhost"]
PROJECT_NAME = "URL Shortener"

POSTGRES_SERVER = localhost
POSTGRES_USER =  postgres
POSTGRES_PASSWORD = ubuntu10
POSTGRES_DB = url_shortener
SHORT_URL_LENGTH =10
