BACKEND_CORS_ORIGINS=["http://localhost:3000"]
BACKEND_PORT = 8080
PROJECT_NAME="URL Shortener"

POSTGRES_SERVER=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=urlshortener
SHORT_URL_LENGTH=10

